<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgShadow9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>figureStarFill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,244},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>figureStarOutline</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{82,244},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_x2.png</string>
            <key>size</key>
            <string>{244,325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a61f460e3dacb39162d47b8942bc07c1:8bca5895210b70508b9e7005d02235a1:650a57d8ed495652ad0327fe4d567d8e$</string>
            <key>textureFileName</key>
            <string>atlas_x2.png</string>
        </dict>
    </dict>
</plist>
